@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Menu.css */
.Menu {
  padding-left: 0px;
  padding-top: 0px;
  margin: 0px;
  flex: 1;
  background-color: rgb(254, 254, 254);
  height: 100vh;

  position: sticky;
}

.item {
  padding: 18px 12px;
  margin: 3px;
  font-family: "Roboto", sans-serif;
  /* width: 200px; */
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Menu-Icon {
  width: 26px;
  height: 26px;
  text-align: start;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
  padding-top: 4px;
}
.Login-Icon {
  width: 24px;
  height: 24px;
  color: #000;
}

.Channel-Icon {
  text-align: start;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
}

.item:hover {
  background-color: #ececec;
  border-radius: 10px 10px 10px 10px;
}

.Search {
  width: 40%;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
