/* App.css */
.App {
  display: flex;
}

.main {
  flex: 8;
  background-color: #fff; /* 你的背景颜色 */
}

.wrapper {
  padding: 22px 96px;
}

/* Menu.css */
.Menu-Icon {
  color: #030303;
  size: 24px;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
}
