/* App.css */
.App {
  display: flex;
}

.main {
  flex: 8;
  background-color: #fff; /* 你的背景颜色 */
}
/* Menu.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Menu.css */
.Menu {
  padding-left: 0px;
  padding-top: 0px;
  margin: 0px;
  flex: 1;
  background-color: rgb(254, 254, 254);
  height: 100vh;
  color: rgb(51, 51, 51);
  position: sticky;
}

.item {
  padding: 20px 12px;
  margin: 3px;
  size: 40px;
  font-family: "Roboto", sans-serif;
  /* width: 200px; */
  height: 20px;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Menu-Icon {
  color: #030303;
  height: 24px;
  width: 24px;
  text-align: start;
  margin-bottom: 0.25rem;
  margin-right: 1rem;
}

.item:hover {
  background-color: #ececec;
  font-family: "Roboto", sans-serif;
  border-radius: 10px 10px 10px 10px;
}

.Search {
  width: 40%;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
